@tailwind base;
@tailwind components;
@tailwind utilities;




/* Path: src/styles/fonts.css */
/* Costa Regular */
@font-face {
  font-family: 'Costa';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/CostaPtf-Regular.otf') format('opentype');
}
/* Costa Light */
@font-face {
    font-family: 'Costa';
   font-weight: 300;
    font-display: swap;
    src: url('../fonts/CostaPtf-Light.otf') format('opentype');
  }
  /* Costa Italic */
@font-face {
    font-family: 'Costa';
    font-style: italic ;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/CostaPtf-Italic.otf') format('opentype');
  }
  /* Costa Extra Bold */
@font-face {
    font-family: 'Costa';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../fonts/CostaPtf-ExtraBold.otf') format('opentype');
  }
  /* Costa Demi */
@font-face {
    font-family: 'Costa';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/CostaPtf-Demi.otf') format('opentype');
  }
  /* Costa Bold */
@font-face {
    font-family: 'Costa';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/CostaPtf-Bold.otf') format('opentype');
  }
.costa-regular{
    font-family: 'Costa';
    font-style: normal;

}
.costa-light{
    font-family: 'Costa';
    font-weight: 300;

}
.costa-italic{
    font-family: 'Costa';
    font-weight: 400;
    font-style: italic;

}
.costa-extra-bold{
    font-family: 'Costa';
    font-weight: 800;

}
.costa-demi{
    font-family: 'Costa';
    font-weight: 600;

}
.costa-bold{
    font-family: 'Costa';
    font-weight: 700;

}
.text-large{
    font-size: 1.25rem;
    font-family: var(--font-ibm-plex-sans);

}
.text-medium{
    font-size: 1.125rem;
    font-family: var(--font-ibm-plex-sans);

}
.text-regular{
    font-size: 1rem;
    font-family: var(--font-ibm-plex-sans);

}
.text-small{
    font-size: 0.875rem;
    font-family: var(--font-ibm-plex-sans);

}

.text-tiny{
    font-size: 0.75rem;
    font-family: var(--font-ibm-plex-sans);

}
.spacer {
    display: block;
    height: 80px;
    margin-top: -80px;
    visibility: hidden;
}
.carouselDaisy {
    display: flex;                
    overflow-x: auto;               
    scroll-snap-type: x mandatory; 
    gap: 16px;                  
    padding: 16px;                 
    border-radius: 8px;           
    background-color: #333;         
    max-width: 400px;            
    
    }
    .carousel {
        display: flex;                
        overflow-x: auto;               
        scroll-snap-type: x mandatory; 
        gap: 16px;                  
        padding: 16px;                 
        border-radius: 8px;           
         
        max-width: 350px;            
        
        }

  .carousel-item {
    flex: 0 0 auto;                 
    scroll-snap-align: start; 
    position: relative;           
  }
  
  .carousel-item img {
    display: block;           
    width: 100%;                 
    height: auto;                  
    border-radius: 8px;             
  }
  .custom-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .custom-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }